ul {
    list-style-type: none;
}
.show-correct + label {
    border: solid green 3px;
}
img{
    height:50px;
    width: 50px;
}

.over{
    height:300px;
    width: 300px;
}

body{
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}